<form action="/{{authors.id}}/delete_auth" method="post">
  <img class="authorPortrait" src="{{author.portraitURL}}" alt="Portrait URL">
  <h3>{{authors.first_name}} {{authors.last_name}}</h3>
  <p>{{author.biography}}</p>
  <button type="submit">Delete {{authors.first_name}} {{authors.last_name}}?</button>
</form>
