<form action="" method="post">
  <label for="title">Title</label>
    <input type="text" name="title" value="{{books.book_name}}">
  <label for="genre">Genre</label>
    <input type="text" name="genre" value="{{books.book_genre}}">
  <label for="description">Description</label>
    <textarea name="description">{{books.book_description}}</textarea>
  <label for="coverURL">Cover Image URL</label>
    <input type="url" name="cover-img" placeholder="Cover Image URL" value="{{books.coverURL}}">
  <button>Edit {{books.title}}</button>
</form>
